---
import { JarsSelect } from '../components/jars-select';
import Layout from '../layouts/Layout.astro';

const domain = import.meta.env.REMOTE_URL
const baseUrl = domain ? `${domain}/api/jars` : '/api/jars'
---

<Layout title="CBR: Топовий донат на ЗСУ">
  <main>
		<JarsSelect client:load url={baseUrl}></JarsSelect>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
