---
import Layout from "../layouts/Layout.astro";
import {TopDonates} from "../components/top-donates"

const domain = import.meta.env.REMOTE_URL || import.meta.env.SITE
const baseUrl = domain ? `${domain}/api/top-donates` : 'https://top-jar-api.vercel.app/api/top-donates'
---

<Layout title="CBR: Топовий донат на ЗСУ">
  <main>
    <h1>Топ донати:</h1>
    <TopDonates client:load url={baseUrl}></TopDonates>
  </main>
</Layout>